:root{
    --BG-color: rgb(23,22,27);
    --red-colot: rgb(255,101,85);
    --darkG-color: rgb(44,43,49);
    --white-color: white;
    --purple-color: rgb(136, 99, 254);
}
*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

/* global */
.whiteSpacing{
    padding: 0 120px;
    background-color: var(--BG-color);
}

/* nav styling */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    img{
        width: 70px;
    }
    .Left-nav{
        display: flex;
        gap: 30px;
        align-items: center;

        button{
            background-color: var(--red-colot);
            border: none;
            border-radius: 15px;
            padding: 10px 20px;
            color: var(--white-color);
            font-size: 24px;
            cursor: pointer;
        }
        .menu{
                background: none;
                padding: 0;
                img{
                    width: 50px;
                }
            }
            .CartBtn{
                width: 40px;
                filter: brightness(1000%);
            }
    }
}

/* Medium screens */
@media (max-width: 1200px)
    {
    .whiteSpacing{
        padding: 0 80px;
    }
}

/* small screens */
@media (max-width: 920px)
    {
    .whiteSpacing{
        padding: 0 16px;
    }
nav{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    img{
        width: 40px;
    }
    .Left-nav{
        gap: 15px;

        button{
            font-size: 16px;
            padding: 10px 10px;
            cursor: pointer;
        }
        
        .menu{
                img{
                    width: 30px;
                }
            }
            .CartBtn{
                width: 30px
            }
    }
}
}

/* hero styling */
.hero{
    width: calc(100ve - 240px);
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    img{
        width: 50vw;
        border-radius: 10px;
        filter: grayscale(100%);
    }
    .Desc{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        h1{
            font-size: 100px;
            color: var(--white-color);
            text-align: right;
            line-height: 100%;
        }
        p{
            font-size: 24px;
            color: var(--white-color);
            margin: 20px 0;
            text-align: right;
            span{
                color: var(--red-colot);
            }
        }
        button{
            background-color: var(--red-colot);
            width: 25vw;
            border: none;
            border-radius: 15px;
            padding: 10px 20px;
            color: var(--white-color);
            font-size: 24px;
            margin-bottom: 20px;
            cursor: pointer;
        }
        button:hover {
    background: #c0392b;
}

        .FirstB{
                background-color: var(--darkG-color);

            }
        
    }
}

@media (max-width: 920px){
    .hero{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    img{
        width: 100%;
    }
    .Desc{
        position: absolute;
        top: 45%;
        width: 50%;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 34px;
            align-self: flex-end;
        }
        p{
            font-size: 18px;
            font-weight: 700;
            margin-top: 0px;
            margin-bottom: 10px;
            align-self: flex-end;
            line-height: 5vw;
        }
        button{
            align-self: center;
            width: 100%;
            min-width: 202px;
            font-size: 24px;
            margin-bottom: 10px;
        }
        
    }
}
}

.ourCourses{
    padding-top: 200px;
    
    width: 100vw;
    h2{
        width: 100%;
        text-align: right;
        color: var(--white-color);
        font-size: 48px;
        padding-bottom: 50px;
    }
    .slider {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 5%;
}

.card {
    width: 30%;
    background: var(--darkG-color);
    border-radius: 12px;
    color: var(--white-color);
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    flex-shrink: 0;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card h3 {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 32px
}

.card p {
    margin: 0 0 15px;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--white-color);
}
.card .Price{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    p{
        border-bottom: none;
        padding-bottom: 0px;
        margin: 0 0 0px;
        font-weight: 900;
        font-size: 24px;
    }
}
.card button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background: var(--red-colot);
    color: var(--white-color);
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
}

.card button:hover {
    background: #c0392b;
}

/* Arrows */
.arrow {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: var(--white-color);
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    user-select: none;
}

.arrow.left { left: 10px; }
.arrow.right { right: 10px; }
}

/* Medium screens */
@media (max-width: 1200px)
    {
    .ourCourses{
    h2{
        font-size: 38px;
    }

.slider-track {
    gap: 5%;
}

.card {
    width: 40%;
}
.card h3 {
    font-size: 24px
}

.card p {
    font-size: 20px;
}
.card .Price{
    p{
        font-size: 20px;
    }
}
.card button {
    font-size: 20px;
}}
    }

/* Small screens */
@media (max-width: 920px)
    {
    .ourCourses{
        width: 100vw;
    h2{
        font-size: 20px;
    }

.slider-track {
    gap: 15px;
}

.card {
    width: 100vw;
}
.card img {
    width: 100%;
    height: 800px;
}
.card h3 {
    font-size: 24px
}

.card p {
    font-size: 20px;
}
.card .Price{
    p{
        font-size: 20px;
    }
}
.card button {
    font-size: 20px;
}}
    }


.diploma{
    padding-bottom: 200px;
    .card {
    background: var(--white-color);
    color: var(--BG-color);
    .purpleDev{
        width: 50px;
        height: 15px;
        border-radius: 10px;
        background-color: var(--purple-color);
        margin: 0 auto;
        margin-top: 20px;
    }
}
.card .Price{
    flex-direction: row-reverse;
}
.card button {
    background: var(--purple-color);
    color: var(--white-color);
}
.card button:hover {
    background: rgb(128,128, 255);
}
}


footer{
    background-color: var(--darkG-color);
    padding: 0 120px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .FirstLine{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 50%;
        padding-top: 200px;
        padding-bottom: 100px;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        gap: 30px;
        li{
            list-style: none;
            h3{
                font-weight: 800;
                font-size: 24px;
                color: var(--red-colot);
            }
            img{
                width: 32px;
            }
            a{
                text-decoration: none;
                color: var(--white-color);
                font-size: 24px;
            }
            
        }
    }}
    .FirstLine a:hover{
                color: var(--red-colot);
            }
    .LogoFooter{
        padding-top: 200px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        img{
            width: 80px;
        }
        p{
            color: var(--white-color);
                font-size: 24px;
        }
    }
}
@media (max-width: 920px){
    footer{
    padding: 0 16px;
    flex-direction: column-reverse;
    .FirstLine{
        align-items: center;
        width: 100%;
        padding-bottom: 0px;}

.LogoFooter{
        padding-top: 100px;
        padding-bottom: 100px;}
}}